<a routerLink="/">Back to Product List</a>


<div *ngIf="form; else loading">
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div
            class="form-control"
            [ngClass]="{invalid: form.get('name').touched && form.get('name').invalid}"
        >
            <label for="name">Post Title:</label>
            <input id="name" type="text" formControlName="name">
            <div
                *ngIf="form.get('name').touched && form.get('name').invalid"
                class="validation">
                <small *ngIf="form.get('name').errors.required">
                    Error: Input Post Title
                </small>
            </div>
        </div>

        <div
            class="form-control"
            [ngClass]="{invalid: form.get('text').touched && form.get('text').invalid}"
        >
            <label for="text">Post Info:</label>
            <input id="text" type="text" formControlName="text">
            <div
                *ngIf="form.get('text').touched && form.get('text').invalid"
                class="validation">
                <small *ngIf="form.get('text').errors.required">
                    Error: Input Post Info
                </small>
            </div>
        </div>

        <div
            class="form-control"
            [ngClass]="{invalid: form.get('category').touched && form.get('category').invalid}"
        >
            <label for="category">Post Category:</label>
            <input id="category" type="text" formControlName="category">
            <div
                *ngIf="form.get('category').touched && form.get('category').invalid"
                class="validation">
                <small *ngIf="form.get('category').errors.required">
                    Error: Input Post Category
                </small>
            </div>
        </div>


<!--        <div class="form-control">-->
<!--            <input id="text" type="text" formControlName="text">-->
<!--        </div>-->

        <button
            class="btn btn-primary"
            type="submit"
            [disabled]="form.invalid || submited"
        >Update</button>

        <button (click)="remove(product.id)" class="btn btn-primary" [routerLink]="['/']"
        >Delete</button>


        <p class="text-center" *ngIf="updated">Updated...</p>
    </form>
</div>

<ng-template #loading>
    <p class="text-center">Loading...</p>
</ng-template>
